<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Visit <a href="http://railstutorial.org/contact">Rails Tutorial contact page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>